body{
  background-image: url(Imgs/shattered.png);
  font-family: 'Amaranth', sans-serif;
  position: relative;
}

#content-holder{
  /*max-width: 1000px;
  margin: 0 auto;*/
  position: relative;
  width: 1000px;
  height:600px;

  margin: auto;
  top: 10vh;
}

#inner-holder{
  padding: 0px 20px;
}

#title{
  font-size: 50px; 
}

#instructions{
  font-size: 20px;
  text-align: justify;
  margin-bottom: 5px;
}

#prompt-section{
  position: relative;
  margin: auto;
  width: 250px;
}
#prompt-holder {
  width: 150px;
  height: 75px;
  background-color: #DCEDC8;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
  
}
.round-box{
  border-radius: 20px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

#prompt {
  font-weight: bold;
  padding-top: 28px;
  margin: 0px;
}

#ready{
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-holder{
  background-color: rgba(0,188,212,.5);
  
}

#bot-holder{
  margin: auto;
  margin-top: 10px;
  top: 20px;
}

.bot-col{
  float: left;
  width: 326px;
  box-sizing: border-box;
  background-color: rgba(0,94,104,.2);
  padding: 20px;
  text-align: center;
}

#samples-disp{
  margin-right: 10px;
}

#avg-disp{
  margin-right: 10px;
}
#more-disp{
  color: black;
  -webkit-transition: background-color .2s; /* Safari */
  transition: background-color .2s;
  transition-timing-function: ease;
}

#more-disp:hover{
  background-color: rgba(0,94,104,.5);
}

#more-disp:mouse-down{
  background-color: rgba(0,188,212,.5);
}